*.lo
*.la
*.swp
*.swo
*.log
*.rc
*.0
*.1
*.o
*.trs
*-test
hdrl
irplib
admin
libtool
autom4te.cache
m4macros
.deps
.libs
configure
Makefile
Makefile.in
aclocal.m4
config.*
stamp-h1
regtests
reflex/cr2res.xml
doxygen/Doxyfile
html
.vscode
GTAGS
GRTAGS
GPATH
debug_*.fits
TEST_*.fits
__pycache__
